
    *{
    margin:0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

       color:#fff !important: 
    }

    .brdr{
        border-top: 1px solid gray;
        height: 0.2em;
    }
    /* 
    :root{
        --left:  #6495ed:
    } */

    i:hover{
        color: #fff;
    }
    
    h4{
        color: rgb(223, 215, 215);
    }
  
    body{
        background-color:#fff;
    
    }

    .section-body{
        display: flex;
        background-color: rgba(13, 13, 15, 0.932);
    }
    /* ===NAV_BAR=== */
    .nav-bar{
        width: 100%;
        height: 3.5em;
        position: fixed;
        z-index: 5;
    }

    nav{
        width: 100%;
        height: 3.5em;
        background-color:  rgb(36, 36, 43) ; 
        position: fixed;
        top: 0;
        border-bottom: 1px solid rgba(128, 128, 128, 0.378);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* LEFT_NAVE */
    .left-nav{
    margin-left: 0.5em;
    display: flex;
    align-items: center;
    }

    .left-nav i{
        margin-left: 6px;
        padding: 11px;
        border-radius: 50%;
    }  
    
    .fa-facebook-f{
    background-color: #3B5998;
    font-size: 25px;
    width: 0.8em;
    height: 0.8em;
    
    }

        /* SEARCH_ICON */
        .fa-search{
            background-color: rgb(72, 71, 80);
            font-size: 15px !important;
            color: #b1b6c7;
        }


    /* MIDDLE_NAVE */
    .middle-nav i{
    padding: 9px;
    font-size: 22px;
    color: #d1d4de;
    margin-left: 1em;
    /* background-color: black; */
    }

    .middle-nav i:hover{
        background-color: rgba(110, 110, 129, 0.892);
        border-radius: 14px;
    }

    /* RIGHT_NAV */
    .right-nav i{
    margin-right: 0.4em;
    padding: 11px;
    border-radius: 50%;
    background-color: rgb(72, 71, 80);
    font-size: 15px !important;
    color: #ebeefa;
    }
    
    .right-nav i:hover{
        background-color: rgba(110, 110, 129, 0.892);
    }
    /* ====):==== */

    section{
        /* border:1px solid rebeccapurple; */
        height: auto;
        padding: 1px;
    }

    /*====LEFT SECTION====*/
    .left-section{
        width: 35%;
    }

    .left-div{
        position: fixed;
        left: 0;
        width: 26%;
        height: 90vh;
        margin-top: 3.4em;

    }

    .left-div:hover{
        overflow-y: scroll;
    }
    
    .left-div div , .right-div div{
        padding: 9px;
    }

    .left-ul{
    padding-bottom: 1em;
    /* border-bottom: 1px solid gray; */
    }

    .left-ul li{
        list-style: none;
        margin-top: 1em;
    }

    .left-ul li a{
        display: flex;
        text-decoration: none;
        color: #fff;
    
        /* height: 1.6em; */
        padding: 0.7em 0.3em;
    }

    .left-ul li a:hover{
        background-color: #484b57;
        border-radius: 14px;
    }

    .left-ul li a h5{
        font-size: 16px;
    }

    .left-ul li a img{
        border-radius: 50%;
        width: 1.6em;
        height: 1.6em;
    
    }

    .left-ul li a h4{
        font-size: 15px;
        font-weight: 700;
    
        margin-top: 0.4em;
        margin-left: 7px;
    }

    .left-ul li a i{
        padding: 3px;
        background-color: gray;
        margin-right: 6px;
        border-radius: 50%;
    }


    /*====MIDDLE SECTION====*/
    .middle-section{
        overflow: hidden;
        width: 65%;
        margin-top: 3.1em;
        
    }

    .middle-div{
        /* height: 90em; */
        width: 100%;
        padding: 4%;
        padding-left: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }

    /* ===STORY_DIV=== */
    .story-div{
    display: flex;
    padding: 17px 0px;
    position: relative;
    }

    .create-story-img{
    width: 7.6em !important;
    height: 12.8em;
    /* border: 1px solid red; */
    border-radius: 14px;
    background-color: rgba(44, 44, 51, 0.959);
    position: relative;
    }

    .create-story-img img{
        width: 100%;
        height: 75%;
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
        opacity: 0.7;
    }

    .create-story-img img:hover{

        opacity: 0.9;
    }

    .create-story-img .plus-icon{
        position: absolute;
        margin-top: 8.5em;
        margin-left: -4.9em;
        padding: 10px;
        background-color: #3B5998;
        font-size: 16px;
        border-radius: 50%;
    }

    .create-story-img .plus-icon:hover{
        background-color: #3b5898de;
    }

    .create-story-img h4{
    margin-top: 18px;
    margin-left: 17px;
    padding: 4px;
    font-size: 14px;
    /* position: absolute; */
    }

    .story-img{
    width: 7.6em !important;
    /* border: 1px solid red; */
    margin-left: 9px; 
    position: relative;
    } 

    .story-img .img{
    width: 100%;
    height: 100%;
    border-radius: 14px;
    opacity: 0.8;
    
    }

    .story-img .img:hover{
        opacity: 0.9;
        padding: 1px;
    }

    .story-img .name{
    position: absolute;
    margin-top: -2em;
    margin-left: 1em;
    font-size: 16px;
    }

    .story-img .profile-pic{
        position: absolute;
        z-index: 3;
        width: 2.6em;
        height: 2.6em;
        border-radius: 50%;
        margin-left: 0.5em;
        margin-top: 0.5em;
        border: 3px solid #3B5998;
        /* opacity: 0.8; */
    }

    .story-img .profile-pic:hover{
        /* opacity: 0.9; */
        padding: 1px;
    }

    .fa-arrow-right{
        position: absolute;
        padding: 11px;
        border-radius: 50%;
        background-color: rgba(82, 80, 74, 0.842);
        margin-top: 6em; 
        
        right: 0;
        
    }

    .fa-arrow-right:hover{
        background-color: rgba(107, 105, 99, 0.842);
    }

    
    /* ===create-post-div===  */
    .create-post{
        padding: 9px;
        margin-top: 0.9em;
        background-color: rgba(39, 41, 44, 0.989);
        border-radius: 14px;
        width: 48vw;
        height: 6.4em;
    }

    .create-post .first-div{
    display: flex;
    border-bottom:1px solid rgb(151, 144, 144);
    padding-bottom: 6px;
    }

    .create-post .first-div img{
    width: 2.5em;
    height: 2.4em;
    border-radius: 50%;
    margin: 0.1em;
    margin-top: 1em;
    opacity: 0.8 !important;
    } 

    .create-post .first-div img:hover{
       opacity: 0.9 !important;
    }

    #create-post-input{
    margin: 0.5em;
    border-radius: 22px;
    border: 0px;
    width: 49vw;
    height: 2em;
    background-color: rgb(56, 56, 61);
    padding: 9px;
    color: #fff !important;
    font-size: 15px;
    }

    .create-post .second-div{
      
        height: 2em;
        margin-top: 0.5em;
        
    }

    /* .create-post .second-div i{

    } */

    .create-post .second-div span{

    /* margin-left: 0.1em; */
    /* padding: 6px; */
     /* background-color: black; */
     padding: 6px;
     width: 5vw !important;
    }

    .create-post .second-div span:hover{

        border-radius: 14px;
        background-color: rgba(64, 64, 71, 0.939);
        }
    

    /* ====POST_SECTIONT==== */
    .post{
        width: 47vw;
        margin-top: 1em;
        background-color: rgba(39, 41, 44, 0.989);
        /* background-color: #3B5998; */
        display: flex;
        flex-direction: column;
        /* padding: 8px; */
        /* border-radius: 14px; */
        border-radius: 9px;
    }

    .post-title{
        display: flex;
        padding-top: 8px;
    }

     .post-title img{
         width: 2em;
         height: 2em;
         border-radius: 50%;
         margin-left: 1em;
        opacity: 0.9;
     }

     .post-title img:hover{
       opacity: 0.7;
     }

    .post-title .post-profile-pic:hover{
        
     }
      
     .post-title h3{
         font-size: 15px;
         padding: 9px;
     }


     .post-title p{
         color:rgb(175, 170, 170)
     }
     .post-title .three-dot{
         margin-left: 20em !important;
         position: absolute;
         z-index: 4;
     }
     .post-title .three-dot i{
         padding: 9px;
     
     }

     .post-title .three-dot i:hover{
        
        background-color: rgba(64, 64, 71, 0.508);
        border-radius: 14px;
    }

     .post-content{
         padding: 14px;
     }
        
    .post-img img{
        width: 100%;
        height: 42vh;
    }
    
    .like-cmnt-count{
        padding: 0.4em 0em;
    }

    .like-cmnt-count span{
        padding: 9px ;
        font-size: 13px;
    }

    .like-comment{
        display: flex;
        align-items: center;
        justify-content: space-around;
        /* background-color: rebeccapurple; */
        padding: 0.3em 0em;
    }

    .like-comment button{
        background-color: rgba(39, 41, 44, 0.989);
        /* background-color: rgb(80, 77, 77); */
        border: none;
        /* width: 14vw; */
        padding: 0.5em;
        color: #fff;
        font-size: 15px;
        border-radius: 11px;
        /* border:1px solid red; */
    }

    .like-comment button:hover{
        background-color: rgba(64, 64, 71, 0.508);
       
    }

    .like-comment button span i{
        color: rgba(194, 194, 201, 0.933);
    }

    /*====RIGHT SECTION====*/
    .right-section{
        width: 35%;
    }

    .right-div{
    
    position: fixed;
    right: 0;
    width: 26%;
    height: 90vh;
    margin-top: 3.4em;

    }

    .right-div:hover{
        overflow-y: scroll;
    }
